body {
  margin: 0;
  line-height: normal;
}
.change-wallet,
.group-input {
  position: relative;
  flex-shrink: 0;
}
.group-input {
  cursor: pointer;
  width: 15px;
  height: 15px;
}
.change-wallet {
  display: inline-block;
  width: 169px;
}
.group-parent2 {
  position: absolute;
  top: 141px;
  left: 50px;
  width: 234px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.keep-wallet {
  position: relative;
  display: inline-block;
  width: 190px;
  flex-shrink: 0;
}
.group-parent3 {
  position: absolute;
  top: 141px;
  left: 296px;
  width: 234px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.get-now-pay {
  position: relative;
  font-size: var(--size-16-size-16-semibold-size);
  font-weight: 600;
  font-family: var(--size-16-size-16-semibold);
  color: var(--color-white);
  text-align: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 14px var(--padding-xl);
  background-color: var(--color-mediumblue-100);
  position: absolute;
  top: 280px;
  left: 159px;
  border-radius: var(--br-lg);
  width: 325px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.pay-xxx-today,
.wallet-connected,
.you-agree-to {
  position: absolute;
  height: 4.11%;
  width: 24.8%;
  top: 6.08%;
  left: 39.49%;
  font-size: var(--font-size-xl);
  display: inline-block;
}
.pay-xxx-today,
.you-agree-to {
  height: 3.18%;
  width: 21.8%;
  top: 51.36%;
  left: 38.55%;
  font-size: var(--font-size-base);
  font-weight: 500;
}
.you-agree-to {
  width: 42.02%;
  top: 77.5%;
  left: 28.12%;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-500);
}
.frame-child49 {
  position: absolute;
  top: 72.5px;
  left: 0;
  width: 634px;
  height: 1px;
}
.confirm-payment-inner,
.frame-parent14 {
  position: absolute;
  top: 0;
  width: 633px;
  height: 440px;
}
.frame-parent14 {
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  overflow: hidden;
}
.confirm-payment-inner {
  left: 11px;
}
.confirm-payment {
  position: relative;
  width: 633px;
  height: 559px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--size-16-size-16-semibold-size);
  color: var(--color-black);
  font-family: var(--font-dm-sans);
}
