body {
  margin: 0;
  line-height: normal;
}
.span3 {
  color: var(--color-white);
}
.bumipay1 {
  background: linear-gradient(
    245.29deg,
    #e2ebf5 2.39%,
    #a690fc 23.38%,
    #fc96bb 60.6%,
    #ffc397
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.and-pay-later1 {
  color: var(--color-gray-700);
}
.get-bumipay-and-container1 {
  position: relative;
  line-height: 84px;
  display: inline-block;
  width: 603px;
}
.coming-this-spring1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.partnership-with-university1 {
  margin: 0;
}
.coming-this-spring-container1 {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 35.2px;
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-gray-800);
  display: inline-block;
  width: 563px;
}
.get-now-crypto2 {
  position: relative;
  font-size: var(--size-16-size-16-semibold-size);
  font-family: var(--font-dm-sans);
  color: var(--color-white);
  text-align: left;
}
.get-now-crypto-later-frame {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-3xl);
  background-color: var(--color-mediumblue-100);
  border-radius: var(--br-lg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.get-bumipay-and-pay-later-for-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-2xl);
}
.hp-elite-dragonfly1 {
  position: absolute;
  height: 87.42%;
  width: 97.65%;
  top: 0;
  right: 0;
  bottom: 12.58%;
  left: 2.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-icon1 {
  position: absolute;
  top: 132.28px;
  left: 0;
  width: 226.21px;
  height: 214.42px;
  overflow: hidden;
}
.hp-elite-dragonfly-group {
  position: relative;
  width: 612.58px;
  height: 346.7px;
  flex-shrink: 0;
}
.frame-parent15,
.group-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-parent15 {
  width: 1605px;
  height: 525px;
  flex-shrink: 0;
  flex-direction: row;
  background-image: url(./public/frame-1054@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.paylater-with-crypto1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 84px;
  background: linear-gradient(
    245.29deg,
    #6dc1dc 2.39%,
    #a690fc 23.38%,
    #fc96bb 60.6%,
    #ffc397
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.emojione-v1money-bag-icon1 {
  position: absolute;
  top: 23px;
  left: 499px;
  width: 39px;
  height: 39px;
  overflow: hidden;
}
.image-1774-icon1,
.paylater-with-crypto-group {
  position: relative;
  width: 538px;
  height: 84px;
  flex-shrink: 0;
}
.image-1774-icon1 {
  width: 1046px;
  height: 225px;
  object-fit: cover;
}
.frame-button,
.frame-parent16 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-3xl);
  background-color: var(--color-mediumblue-100);
  border-radius: var(--br-lg);
  flex-direction: row;
}
.frame-parent16 {
  width: 1605px;
  height: 678px;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-3xl);
  text-align: center;
  font-size: var(--font-size-9xl);
}
.first-page-landing {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-10xl);
  color: var(--color-gray-300);
  font-family: var(--font-dm-sans);
}
@media screen and (max-width: 768px) {
  .frame-parent15 {
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
