body {
  margin: 0;
  line-height: normal;
}
.pattern-elements-icon1 {
  position: absolute;
  top: 186px;
  left: 122px;
  width: 167.57px;
  height: 167.57px;
  overflow: hidden;
  object-fit: cover;
}
.frame-item {
  position: absolute;
  top: 0;
  left: 960px;
  background-color: var(--color-whitesmoke-500);
  width: 960px;
  height: 1080px;
}
.log-in-process1 {
  position: absolute;
  top: 239px;
  left: 196px;
  color: var(--color-midnightblue-200);
  text-align: center;
}
.group-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-500);
  width: 197.23px;
  height: 61.21px;
}
.thumbs-up-1f44d-1-icon1 {
  position: absolute;
  top: 14.96px;
  left: 23.12px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.your-details1 {
  position: absolute;
  top: 19.04px;
  left: 71.86px;
  line-height: 122.19%;
}
.rectangle-container {
  position: absolute;
  top: 413px;
  left: 282px;
  width: 197.23px;
  height: 61.21px;
  font-size: var(--font-size-3xl);
}
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 285px;
  height: 61px;
}
.div3 {
  position: absolute;
  top: 16px;
  left: 24px;
}
.qr-code-verification1 {
  position: absolute;
  top: 18.79px;
  left: 71.86px;
  font-size: var(--font-size-3xl);
  line-height: 122.19%;
  font-family: var(--font-dm-sans);
}
.vector-group {
  position: absolute;
  top: 496px;
  left: 282px;
  width: 285px;
  height: 61px;
  font-size: var(--font-size-8xl);
  font-family: var(--font-inter);
}
.frame-inner {
  position: absolute;
  top: 431.08px;
  left: 501.33px;
  width: 232.37px;
  height: 25.04px;
}
.sign-up1 {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.dropdown1,
.links1 {
  position: absolute;
  display: flex;
  flex-direction: row;
}
.links1 {
  top: 20.67px;
  left: 42.67px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.dropdown1 {
  top: 20px;
  left: 774.67px;
  padding: 0 0 0 var(--padding-5xs);
  align-items: center;
  justify-content: center;
}
.divider-top1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-400);
  width: 960px;
  height: 0.67px;
}
.footer1,
.password-child {
  background-color: var(--color-white);
  position: absolute;
  left: 0;
}
.footer1 {
  top: 1025px;
  width: 960px;
  height: 55px;
  overflow: hidden;
  font-size: var(--font-size-3xs);
  color: var(--color-dimgray-200);
  font-family: var(--font-poppins);
}
.password-child {
  border: 0;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-2xs);
}
.div4,
.password1 {
  position: absolute;
  height: 42.22%;
  width: 5.41%;
  top: 28.89%;
  left: 2.97%;
  display: none;
}
.password1 {
  height: 29.09%;
  width: 14.32%;
  top: 33.74%;
  left: 12.16%;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
}
.password {
  position: absolute;
  height: 11.15%;
  width: 100%;
  top: 60.1%;
  right: 0;
  bottom: 28.75%;
  left: 0;
  font-size: var(--font-size-6xl);
}
.div5,
.email-address {
  position: absolute;
  height: 28.89%;
  width: 24.86%;
  top: 31.72%;
  left: 12.16%;
  display: none;
}
.div5 {
  height: 36.36%;
  width: 5.41%;
  top: 26.67%;
  left: 3.51%;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  text-align: center;
}
.username-or-email {
  position: absolute;
  height: 11.15%;
  width: 100%;
  top: 44.98%;
  right: 0;
  bottom: 43.87%;
  left: 0;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
}
.or {
  position: absolute;
  top: 0;
  left: 44.27%;
}
.separator-child,
.separator-item {
  position: absolute;
  height: 6.25%;
  width: 19.85%;
  top: 53.13%;
  right: -0.38%;
  bottom: 40.63%;
  left: 80.53%;
  border-top: 1px solid var(--color-midnightblue-100);
  box-sizing: border-box;
}
.separator-item {
  right: 80.53%;
  left: -0.38%;
}
.separator {
  position: absolute;
  height: 3.49%;
  width: 31.19%;
  top: 33.84%;
  right: 34.29%;
  bottom: 62.66%;
  left: 34.52%;
  color: var(--color-midnightblue-100);
}
.google-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.sign-in-with {
  position: absolute;
  top: 31.37%;
  left: 40.71%;
  font-size: var(--font-size-xs);
  font-family: var(--font-dm-sans);
  color: var(--color-midnightblue-100);
  text-align: center;
}
.google-1-icon {
  position: absolute;
  height: 37.78%;
  width: 4.41%;
  top: 29.41%;
  right: 61.54%;
  bottom: 32.81%;
  left: 34.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.google {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 11.14%;
  width: 100%;
  top: 15.07%;
  right: 0;
  bottom: 73.8%;
  left: 0;
}
.log-in,
.vector-icon1 {
  position: relative;
  flex-shrink: 0;
}
.log-in {
  font-size: var(--size-16-size-16-semibold-size);
  line-height: 100%;
  display: inline-block;
  font-family: var(--font-dm-sans);
  color: var(--f4f2f6);
  text-align: left;
  width: 50px;
}
.vector-icon1 {
  width: 6.15px;
  height: 10.45px;
}
.log-in-parent {
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumblue-100);
  box-shadow: 0 5px 26px 2px rgba(151, 150, 240, 0.5);
  width: 420px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-md) var(--padding-4xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-4xs);
}
.component-4-inner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 10.04%;
  width: 100%;
  top: 78.82%;
  right: 0;
  bottom: 11.14%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.evainfo-fill-icon {
  position: absolute;
  height: 3.28%;
  width: 3.57%;
  top: 96.51%;
  right: 96.43%;
  bottom: 0.22%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.span1 {
  color: var(--color-mediumslateblue);
}
.new-to-bumima-container {
  text-decoration: none;
  position: absolute;
  width: 49.52%;
  top: 96.51%;
  left: 5%;
  text-align: left;
  display: inline-block;
  color: inherit;
}
.log-into-my {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-7xl);
  letter-spacing: -0.02em;
}
.forgot-password {
  text-decoration: none;
  position: absolute;
  width: 29.76%;
  top: 96.51%;
  left: 70.24%;
  color: #ee9ca7;
  text-align: right;
  display: inline-block;
}
.component-4 {
  position: absolute;
  top: 311px;
  left: 1230px;
  width: 420px;
  height: 458px;
  text-align: center;
  font-size: var(--font-size-xs);
}
.group-icon {
  position: absolute;
  top: 699px;
  left: 120.61px;
  width: 259.78px;
  height: 242.39px;
  object-fit: cover;
}
.ellipse-icon {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  object-fit: cover;
}
.daniykgmailcom1,
.ellipse-icon {
  position: relative;
}
.ellipse-group {
  position: absolute;
  top: 588px;
  left: 282px;
  border-radius: var(--br-4xl);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 238px;
  height: 55px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
  font-size: var(--size-16-size-16-semibold-size);
  color: var(--color-dimgray-500);
  font-family: var(--font-poppins);
}
.pattern-elements-parent {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-dm-sans);
}
