:root {
  /* fonts */
  --font-dm-sans: "DM Sans";
  --font-outfit: Outfit;
  --font-poppins: Poppins;
  --font-inter: Inter;
  --font-inherit: inherit;
  --font-roboto: Roboto;
  --font-noto-sans: "Noto Sans";
  --size-16-size-16-semibold: "Kumbh Sans";

  /* font sizes */
  --font-size-3xs: 9.33px;
  --font-size-2xs: 10px;
  --font-size-xs: 12px;
  --font-size-sm: 13.62px;
  --font-size-base: 14px;
  --size-16-size-16-semibold-size: 16px;
  --font-size-xl: 18px;
  --font-size-2xl: 19.51px;
  --font-size-3xl: 19.04px;
  --font-size-4xl: 20px;
  --font-size-5xl: 22px;
  --font-size-6xl: 22.7px;
  --font-size-7xl: 24px;
  --font-size-8xl: 28px;
  --font-size-9xl: 48px;
  --font-size-10xl: 56px;

  /* Colors */
  --color-white: #fff;
  --color-mediumblue-100: #3d00b7;
  --color-mediumblue-200: rgba(61, 0, 183, 0.19);
  --color-gray-100: #8c8c8c;
  --font-subtext: #7d7d7d;
  --color-gray-300: #232323;
  --color-gray-400: #181828;
  --color-gray-500: rgba(0, 0, 0, 0.67);
  --color-gray-600: rgba(0, 0, 0, 0.14);
  --color-gray-700: rgba(0, 0, 0, 0.87);
  --color-gray-800: rgba(0, 0, 0, 0.6);
  --input-base: #f6f6f6;
  --color-whitesmoke-200: #f5f5f5;
  --color-whitesmoke-300: #f4f4f4;
  --f4f2f6: #f4f2f6;
  --color-whitesmoke-500: #f0f2f5;
  --color-whitesmoke-600: #e9eaef;
  --color-black: #000;
  --color-midnightblue-100: #181059;
  --color-midnightblue-200: #170f49;
  --color-lavender-100: #d9dbe9;
  --color-dimgray-100: #6f6f6f;
  --color-dimgray-200: #666;
  --color-dimgray-300: #525252;
  --color-dimgray-400: rgba(102, 102, 102, 0.25);
  --color-dimgray-500: rgba(82, 82, 82, 0.64);
  --color-mediumslateblue: #8364e8;
  --font-deafault-b: #343434;
  --color-darkslategray-200: #333;
  --color-darkslategray-300: #29313f;
  --color-darkgray-100: #979797;
  --color-darkgray-200: rgba(164, 164, 164, 0.5);
  --color-salmon: #ff7272;
  --color-mediumpurple: #a690fc;
  --color-darkslateblue: #262f56;
  --color-red: #fc0e0e;
  --color-lightgray: #d2d6da;

  /* Gaps */
  --gap-4xs: 1px;
  --gap-3xs: 8px;
  --gap-2xs: 10px;
  --gap-xs: 11px;
  --gap-sm: 20px;
  --gap-md: 24px;
  --gap-lg: 26.67px;
  --gap-xl: 26px;
  --gap-2xl: 40px;
  --gap-3xl: 69px;

  /* Paddings */
  --padding-5xs: 5.333333492279053px;
  --padding-4xs: 5px;
  --padding-3xs: 8px;
  --padding-2xs: 10px;
  --padding-xs: 12px;
  --padding-sm: 13px;
  --padding-md: 15px;
  --padding-lg: 16px;
  --padding-xl: 20px;
  --padding-2xl: 24px;
  --padding-3xl: 40px;
  --padding-4xl: 121px;

  /* border radiuses */
  --br-5xs: 4px;
  --br-4xs: 5.78px;
  --br-3xs: 5px;
  --br-2xs: 5.68px;
  --br-xs: 5.86px;
  --br-sm: 6px;
  --br-md: 8px;
  --br-lg: 10px;
  --br-xl: 13.6px;
  --br-2xl: 15px;
  --br-3xl: 16px;
  --br-4xl: 32px;
  --br-5xl: 42px;
}
