body {
  margin: 0;
  line-height: normal;
}
.group-child18 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1140px;
  height: 908px;
}
.next1 {
  position: absolute;
  top: 12.88px;
  left: 85px;
  font-size: var(--font-size-base);
  letter-spacing: -0.01em;
  font-family: var(--font-dm-sans);
  color: var(--color-white);
  text-align: left;
}
.frame-wrapper14,
.next-container {
  position: absolute;
  width: 199px;
  height: 43.08px;
}
.next-container {
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-mediumblue-100);
  overflow: hidden;
}
.frame-wrapper14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 698.57px;
  left: 798px;
}
.bank-name {
  position: absolute;
  top: 184.84px;
  left: 182px;
  display: inline-block;
  width: 83px;
  height: 19.58px;
}
.rectangle3 {
  border: 1.2px solid var(--color-lightgray);
  background-color: var(--color-white);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  box-sizing: border-box;
}
.rectangle-frame {
  position: absolute;
  height: 6.39%;
  width: 71.49%;
  top: 24.6%;
  right: 12.54%;
  bottom: 69.01%;
  left: 15.96%;
}
.account-number {
  position: absolute;
  top: 321.21px;
  left: 182px;
  display: inline-block;
  width: 120px;
  height: 19.58px;
}
.rectangle-wrapper1 {
  position: absolute;
  height: 6.39%;
  width: 71.49%;
  top: 39.92%;
  right: 12.54%;
  bottom: 53.69%;
  left: 15.96%;
}
.branch-address,
.country2 {
  position: absolute;
  top: 457.57px;
  left: 182px;
  display: inline-block;
  width: 120px;
  height: 19.58px;
}
.branch-address {
  left: 605px;
}
.choose-country-wrapper,
.input {
  position: absolute;
  height: 6.39%;
  width: 34.3%;
  top: 54.96%;
  right: 12.63%;
  bottom: 38.66%;
  left: 53.07%;
}
.choose-country-wrapper {
  right: 49.74%;
  left: 15.96%;
}
.account-name {
  position: absolute;
  top: 576.57px;
  left: 182px;
  display: inline-block;
  width: 105px;
  height: 19.58px;
}
.input1 {
  position: absolute;
  height: 6.39%;
  width: 71.49%;
  top: 68.35%;
  right: 12.54%;
  bottom: 25.27%;
  left: 15.96%;
}
.image-1770-icon {
  position: absolute;
  top: 58.54px;
  left: 359px;
  width: 24px;
  height: 23.5px;
  object-fit: cover;
}
.bank-details-would,
.bank-information {
  position: absolute;
  left: 183.61px;
  display: inline-block;
}
.bank-information {
  top: 48.74px;
  font-size: var(--font-size-4xl);
  line-height: 44px;
  font-family: var(--font-dm-sans);
  width: 161px;
  height: 43.08px;
}
.bank-details-would {
  top: 120.22px;
  font-size: var(--font-size-xl);
  font-family: var(--font-poppins);
  color: var(--color-dimgray-300);
  width: 468px;
  height: 26.44px;
}
.on-boarding-screenbank-detail-child,
.rectangle-parent15 {
  position: absolute;
  top: 116px;
  left: 310px;
  width: 1140px;
  height: 908px;
}
.on-boarding-screenbank-detail-child {
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17);
  width: 310px;
}
.business-details1 {
  position: absolute;
  top: 6px;
  left: 48px;
  letter-spacing: -0.01em;
  font-weight: 500;
}
.business-details-group,
.group-child19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
}
.business-details-group {
  width: 168px;
}
.bank-details-group,
.upload-document-group {
  position: absolute;
  top: 113px;
  left: 0;
  width: 183px;
  height: 32px;
}
.bank-details-group {
  top: 226px;
  width: 139px;
}
.group-child22,
.group-child23 {
  position: absolute;
  top: 32px;
  left: 17px;
  background-color: var(--color-mediumblue-100);
  width: 81px;
  height: 1px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.group-child23 {
  top: 145px;
}
.group-parent5 {
  position: absolute;
  top: 327px;
  left: 89px;
  width: 183px;
  height: 258px;
  font-family: var(--font-dm-sans);
}
.group-child24,
.group-child25 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-mediumblue-200);
  width: 1440px;
  height: 116px;
}
.group-child25 {
  background-color: var(--color-white);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.17);
  height: 107px;
}
.final-logo-14 {
  position: absolute;
  top: 26px;
  left: 89px;
  width: 121px;
  height: 55.92px;
  object-fit: cover;
}
.rectangle-parent16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 116px;
}
.on-boarding-screenbank-detail {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  text-align: left;
  font-size: var(--size-16-size-16-semibold-size);
  color: var(--color-black);
  font-family: var(--font-outfit);
}
