body {
  margin: 0;
  line-height: normal;
}
.name4 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.enter-name1 {
  position: relative;
}
.enter-name-container {
  position: absolute;
  top: 37px;
  left: 0;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 468px;
  height: 62px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-xs) var(--padding-xs)
    var(--padding-lg);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-darkgray-200);
}
.name-container {
  position: absolute;
  top: 267px;
  left: 543px;
  width: 468px;
  height: 99px;
  display: none;
}
.frame-child50 {
  position: absolute;
  top: 353px;
  left: 127px;
  width: 40px;
  height: 40px;
}
.metamask4112-1-icon {
  position: absolute;
  top: 212px;
  left: 355px;
  width: 323px;
  height: 286px;
  object-fit: cover;
}
.first-name-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 58px;
  opacity: 0.38;
}
.first-name-input-wrapper {
  position: absolute;
  top: 522px;
  left: 62px;
  width: 387px;
  height: 58px;
}
.first-name-input-container,
.first-name-input1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 58px;
}
.first-name-input-container {
  top: 660px;
  left: 490px;
  opacity: 0.39;
}
.connect-your-wallet {
  margin-block-start: 0;
  margin-block-end: 0;
}
.connect-your-wallet-container {
  position: absolute;
  top: -102px;
  left: -182px;
  white-space: pre-wrap;
  display: inline-block;
  width: 449px;
}
.first-name-input-frame {
  position: absolute;
  top: 522px;
  left: 490px;
  width: 387px;
  height: 58px;
  opacity: 0.39;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-300);
  font-family: var(--font-poppins);
}
.connect-wallet {
  position: absolute;
  top: 13px;
  left: 53px;
  font-size: var(--font-size-base);
  letter-spacing: -0.01em;
  font-family: var(--font-dm-sans);
  color: var(--color-white);
  text-align: left;
}
.connect-wallet-wrapper,
.group-button {
  position: absolute;
  width: 199px;
  height: 44px;
}
.connect-wallet-wrapper {
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-mediumblue-100);
  overflow: hidden;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 522px;
  left: 417px;
}
.percent-1-icon {
  position: absolute;
  top: 131px;
  left: 440px;
  width: 154px;
  height: 171px;
  object-fit: cover;
}
.group-parent4 {
  position: absolute;
  top: 116px;
  left: 210px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1097px;
  height: 908px;
  overflow: hidden;
}
.group-child15,
.group-child16 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-mediumblue-200);
  width: 1440px;
  height: 116px;
}
.group-child16 {
  background-color: var(--color-white);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.17);
  height: 107px;
}
.final-logo-13 {
  position: absolute;
  top: 26px;
  left: 89px;
  width: 121px;
  height: 55.92px;
  object-fit: cover;
}
.freda-almira {
  position: absolute;
  top: 13px;
  left: 56px;
  letter-spacing: -0.01em;
  font-weight: 500;
}
.freda-almira-parent,
.group-child17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
}
.freda-almira-parent {
  top: 28px;
  left: 1200px;
  width: 150px;
}
.rectangle-parent14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 116px;
  font-size: var(--size-16-size-16-semibold-size);
  color: var(--color-darkslategray-200);
  font-family: var(--font-dm-sans);
}
.payment-methodcard {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-gray-100);
  font-family: var(--font-outfit);
}
